//
//  Development.release.xcconfig
//  App
//
//  Created by Omar Brugna on 04/04/23.
//  Copyright © 2023 Active Orbit. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MovingHealthDev/Pods-MovingHealthDev.release.xcconfig"

APP_NAME = MovingHealth-Dev
BASE_URL = YOUR_DEV_URL
GOOGLE_API_KEY = YOUR_GOOGLE_API_KEY_HERE
